@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Bubblegum+Sans|Caveat+Brush|Chewy|Lobster+Two');

body, html {
    background-image: linear-gradient(90deg, #32619d, #3f8ed9);

}



 #map{
     height: 600px;
     width: 100%;
 }

#mapid { height: 180px;
padding-left: 5%;
}


.row {
    color: black;
    font-size: 16px;
    font-family: "Century Gothic";


}

.header h1 {
    font-size: 30px;
    font-family: "Century Gothic", sans-serif;
    text-align: center;
    margin: 56px;

}

* ===== NAVIGATION ======*/


.navbar {
    z-index: 9999;
    letter-spacing: 3px;
}

.navbar .nav > li > a {
    line-height: 20px;
}

.navbar-header h1 {
    padding-left: 3%;
    color: #4380ce;
    font-family: "Century Gothic", cursive;
    font-size: 1em;
}

.navbar li a, .navbar {
    color: #4380ce;
    font-size: 17px;
    transition: all 0.6s 0s;
    font-family: "Century Gothic";
}

.navbar-toggle {
    border: 0;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #500000 !important;
}

