body {
    background-image: linear-gradient(210deg, #32619d, #49aaff);
}

.kontainer {
    display: flex;
    /*Flexible Box (flex) makes it easier to design flexible
   responsive layout structure*/
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}


.Portfolio {
    position: relative;
    margin: 10px;
    border: 2px solid #ffffff;
    float: left;
    width: 200px;
    transition-duration: 0.4s;
    border-radius: 0px;
    animation: winanim 0.5s ;
    -webkit-backface-visibility:visible;
    backface-visibility:visible;
    box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12);

}

.Portfolio:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    opacity: 0.6;
    filter: alpha(opacity=60);

}

.Portfolio img {
    width: 100%;
    height: 240px;
    border-radius: 0px;
}


@keyframes winanim {
    0%{opacity:0;transform:scale3d(.3,.3,.3)}
    50%{opacity:1}

}

.card-img {
    height: 250px;
    object-fit: cover;
}


.desc {
    padding-left: 10%;
    padding-bottom: 10%;
    padding-top: 10%;
    padding-right: 10%;
    text-align: center;
    font-size: 17px;
    background: #ffffff;
    color: #000000;
    font-family: "Century Gothic";
    border-radius: 0%;
    font-style: initial;
}



.hoofding {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    position: center;
    font-family: "Century Gothic";
    font-size: 36px;
    color: white;

}

.row {
    padding-right: 15%;
    padding-left: 11%;
    padding-bottom: 2%;
    font-family: "Century Gothic";
    font-size: 17px;
}

* ===== SELECTION NAVIGATION ======*/

.nav {
    position: center;
    padding-left: 30%;
    padding-right: 30%;
}

.nav ul a {
    margin:5px;
    font-size:16px;
    transition-duration: 0.4s;
    border-radius: 5%;

}
.nav a:hover {
    background-color: white;
}

.nav .active {
    background-color: #ffffff ;
    color: #000000;
}

* ===== NAVIGATION ======*/


.navbar {
    z-index: 9999;
    letter-spacing: 3px;
}

.navbar .nav > li > a {
    line-height: 20px;
}

.navbar-header h1 {
    padding-left: 3%;
    color: #c8d0d7;
    font-family: "Century Gothic", cursive;
    font-size: 1em;
}

.navbar li a, .navbar {
    color: #ffffff;
    font-size: 17px;
    transition: all 0.6s 0s;
    font-family: "Century Gothic";
}

.navbar-toggle {
    border: 0;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #500000 !important;
}