@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Bubblegum+Sans|Caveat+Brush|Chewy|Lobster+Two');

body, html {
    background-image: linear-gradient(90deg, #32619d, #3f8ed9);

}




.row {
    color: white;
    font-size: 16px;
    font-family: "Century Gothic";
    padding-left: 25%;
    padding-right: 25%%;
    text-shadow: black 0.1em 0.1em 0.1em;



}

.content {
    justify-content: center;
    padding-left: 270;
    text-shadow: black 0.1em 0.1em 0.1em;


}

* ===== NAVIGATION ======*/


.navbar {
    z-index: 9999;

}

.navbar .nav > li > a {
    line-height: 20px;
    letter-spacing: 3px;
}

.navbar-header h1 {
    padding-left: 3%;
    color: #4380ce;
    font-family: "Century Gothic", cursive;
    font-size: 1em;
}

.navbar li a, .navbar {
    color: #4380ce;
    font-size: 17px;
    transition: all 0.6s 0s;
    font-family: "Century Gothic";
}

.navbar-toggle {
    border: 0;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #500000 !important;
}


/*===== GOOGLE TRANSLATE WIDGET======*/

.goog-te-banner-frame {display:none;}
#goog-gt-tt {display:none!important;visibility:hidden!important;}

.goog-te-gadget {
    font-family: "Century Gothic", 'Open Sans', sans-serif!important;
}
.goog-te-gadget-simple  {
    background-color: transparent!important;
    border: none!important;
    padding: none!important;
    border-radius: 4px!important;
    font-size: 17px!important;
    line-height:2rem!important;
    display: inline-block;
    cursor: pointer;
    zoom: 1;
}

.goog-te-menu2 {
    max-width: 100%;
}
.goog-te-menu-value {
    color: #777 !important;
    font-weight: bold;
    letter-spacing: 3px;
}

.goog-te-menu-value:hover {
    color: #500000 !important;
    text-decoration :none;
}

.goog-te-menu-value span:nth-child(5) {
    display:none;
}
.goog-te-menu-value span:nth-child(3) {
    border:none!important;
    font-family: 'Century Gothic';
}

.goog-te-gadget-icon {

    display: none;
}

/* ============ HIDE TOP BAR ============*/
.goog-te-banner-frame.skiptranslate {display: none!important;}
body {top: 0px!important;}

/* ================================== *\
    Mediaqueries
\* ================================== */
@media (max-width: 667px) {
    #google_translate_element {
        bottom: calc(100% - 50% - 53px);
        left: 16px !important;
        width: 100% !important;
    }
    .goog-te-gadget {
        width:100%!important;
    }
    .skiptranslate {
        width:100%!important;
    }
    .goog-te-gadget-simple {
        width: calc(100% - 32px)!important;
        text-align: center;
    }
}

/* ====Footer====*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: right;
    font-family: "Century Gothic", 'Open Sans', sans-serif;
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 5px;


}